html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
}

h1 {
    text-align: center;
}

#master {
    color: greenyellow;
}

#develop {
    color: orangered;
}

#hotfix {
    color: red;
}

#release {
    color: blue;
}